APPLE_ID=you@example.com
APPLE_TEAM_ID=XXXXXXXXXX
MATCH_GIT_URL=https://github.com/your-org/your-certs-repo

APP_STORE_CONNECT_KEY_ID=XXXXXXXXXX
APP_STORE_CONNECT_ISSUER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
APP_STORE_CONNECT_KEY_PATH=/absolute/path/to/AuthKey_XXXXXXXXXX.p8

# set this once when you first run `fastlane your-certs-repo` — used to encrypt/decrypt the your-certs-repo repo
MATCH_PASSWORD=your-match-password

# fixes fastlane locale warning
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
